<script setup>
import {Link, useForm} from "@inertiajs/vue3";
import InputLabel from "../Form/InputLabel.vue";
import TextInput from "../Form/TextInput.vue";
import InputError from "../Form/InputError.vue";
import vue3StarRatings from "vue3-star-ratings";
import Editor from "@tinymce/tinymce-vue";
import {ref} from "vue";

const initialForm = {
    email: '',
    pseudo: '',
    note: 5,
    text: '',
    photo: null,
}

let form = useForm(initialForm);
defineProps({
    showModal: Boolean,
});

const emit = defineEmits(["closeModal"])
const handleCloseModal = () => {
    form = useForm(initialForm)
    emit('closeModal')
}
const submit = async () => {
    form.post(route('store'), {
        onSuccess: () => handleCloseModal(),
        onError: () => console.log(form.errors)
    })
}
</script>

<template>

    <!-- Main modal -->
    <div v-show="showModal" id="authentication-modal" tabindex="-1"
         class="bg-gray-900 bg-opacity-75 fixed flex items-center justify-center top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow">
                <button @click="handleCloseModal" type="button"
                        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
                        data-modal-hide="authentication-modal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>


                <div class="px-6 py-6 lg:px-8 space-y-6">
                    <h3 class="text-xl text-black">Ajouter un commentaire</h3>
                    <div>
                        <InputLabel for="email" value="Email"/>
                        <TextInput
                            id="name"
                            v-model="form.email"
                            type="email"
                            class="mt-1 block w-full"
                            required
                            autofocus
                            autocomplete="email"
                        />
                        <InputError class="mt-2" :message="form.errors.email"/>
                    </div>

                    <div class="mt-4">
                        <InputLabel for="pseudo" value="Pseudo"/>
                        <TextInput
                            id="pseudo"
                            v-model="form.pseudo"
                            type="text"
                            class="mt-1 block w-full"
                            required
                            autocomplete="pseudo"
                        />
                        <InputError class="mt-2" :message="form.errors.pseudo"/>
                    </div>

                    <div class="mt-4">
                        <InputLabel for="note" value="Note"/>
                        <vue3-star-ratings
                            class="v3sr"
                            v-model="form.note"
                            :step.number="1"
                            :disable-click="true"
                        />
                    </div>

                    <div class="mt-4">
                        <InputLabel for="text" value="Commentaire"/>
                        <Editor
                            api-key="gclxfg1oqauuj5wteurahzdjq5l7zx95mydbui1yozmclhga"
                            v-model="form.text"
                        />
                        <InputError class="mt-2" :message="form.errors.text"/>
                    </div>

                    <div class="mt-4">
                        <InputLabel for="text" value="Photo"/>
                        <input :type="showModal ? 'file' : 'text'" @change="form.photo = $event.target.files[0]" accept="image/png, image/jpg, image/jpeg"/>
                        <progress v-if="form.progress" :value="form.progress.percentage" max="100">
                            {{ form.progress.percentage }}%
                        </progress>
                        <InputError v-if="form.photo" class="mt-2" :message="form.errors.photo"/>
                    </div>

                    <div class="flex items-center justify-between mt-4">
                        <button
                            type="submit"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                            :class="{ 'opacity-25': form.processing }"
                            :disabled="form.processing"
                            @click="submit"
                        >Valider
                        </button>
                        <button
                            class="text-white bg-gray-400 hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                            @click="handleCloseModal"
                        >Annuler
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<style scoped>

</style>
