<script setup>
import AddComment from "./AddComment.vue";
import {computed, reactive, ref} from "vue";
import vue3StarRatings from "vue3-star-ratings";
import moment from "moment";
import StarRate from "./StarRate.vue";

const props = defineProps({
    comments: Object,
})
const computedComments = computed(() => {
    const filteredComments = props.comments.filter(comment => comment.note >= noteFilter.value)
    return filteredComments.sort((c1, c2) => {
        let sortResult = 0
        if (adaptFormatter(c1) > adaptFormatter(c2)) {
            sortResult = 1
        }
        if (adaptFormatter(c1) < adaptFormatter(c2)) {
            sortResult = -1
        }
        return sortList.type === 'asc' ? sortResult : -sortResult
    })
})
const showModal = ref(false)
const sortList = reactive({
    name: 'created_at',
    type: 'desc'
})
const noteFilter = ref(0)
let showImgModal = ref(false)
let imgModalUrl = ref("")
const formatDatetime = (datetime) => {
    return moment(datetime).format('DD-MM-YYYY HH:mm')
}

const adaptFormatter = comment => sortList.name === 'note' ? comment.note : moment(comment.created_at)

</script>

<template>

    <div class="mt-4">
            <div class="text-2xl py-2 font-medium text-gray-900 border-b border-gray-300"> Description </div>
        <div class="flow-root">
            <h1 class=" mt-4 font-bold">Delivered To Your Door</h1>
            <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia accusantium nesciunt fuga.</p>
            <h1 class=" mt-4 text-xl font-bold">From the Fine Farms of Brazil</h1>
            <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio numquam enim facere.</p>
            <p class="mt-2">Amet consectetur adipisicing elit. Optio numquam enim facere. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore rerum nostrum eius facere, ad neque.</p>
        </div>
    </div>

    <div class="my-4 flex items-center justify-between border-b border-gray-300">
        <div class="flex items-center gap-8">
            <div class="text-2xl py-2 font-medium text-gray-900 flex items-center">
                Avis
                <span class="ml-2 block rounded-full bg-orange-700 px-2 py-px text-xs font-bold text-gray-100">{{comments.length}}</span>
            </div>
            <div class="flex items-center gap-2">
                <label
                    class="block text-sm font-medium text-gray-900 dark:text-white">
                    Tri
                </label>
                <select
                    v-model="sortList.name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-20 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                    <option value="created_at">Date</option>
                    <option value="note">Note</option>
                </select>
                <select
                    v-model="sortList.type"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-20 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                    <option value="asc">Asc</option>
                    <option value="desc">Desc</option>
                </select>
            </div>
            <div class="flex items-center gap-2">
                <label
                    class="block text-sm font-medium text-gray-900 dark:text-white">
                    Filtre
                </label>
                <select
                    v-model="noteFilter"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-20 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                    <option :value="0">Tout</option>
                    <option v-for="n in 5" :value="n">{{n}}</option>
                </select>
                <span class="ml-2 block rounded-full bg-gray-700 px-2 py-px text-xs font-bold text-gray-100">{{computedComments.length}}</span>
            </div>
        </div>
        <button
            type="button"
            @click="showModal=true"
            class="inline-flex items-center justify-center rounded-md border-2 border-transparent bg-gray-900 bg-none px-3 py-1 text-center text-base font-bold text-white transition-all duration-200 ease-in-out focus:shadow hover:bg-gray-800"
        >
            Donner le votre
        </button>
    </div>
    <div v-for="comment in computedComments" :key="comment.id">
        <span>{{formatDatetime(comment.created_at)}}</span>
        <div class="flex justify-between gap-2">
            <div>
                <div class="flex items-center gap-2">
                    <StarRate :stars="comment.note"/>
                    <b>{{comment.pseudo}}</b>
                </div>
                <div v-html="comment.text"/>
            </div>
            <div v-show="comment.photo">
                <a href="#">
                    <img
                        :src="'/storage/'+comment.photo"
                        alt=""
                        width="150"
                        @click="() => {imgModalUrl = '/storage/'+comment.photo; showImgModal=true}"
                    />
                </a>
            </div>
        </div>
        <hr class="my-3">
    </div>

    <!-- The Modal -->
    <div
        v-show="showImgModal"
         class="fixed top-0 left-0 z-80 w-screen h-screen bg-black/70 flex justify-center items-center">

        <!-- The close button -->
        <a
            @click="() => {imgModalUrl = ''; showImgModal=false}"
            class="fixed z-90 top-6 right-8 text-white text-5xl font-bold" href="javascript:void(0)"
        >&times;</a>

        <!-- A big image will be displayed here -->
        <img alt="" id="modal-img" class="max-w-[800px] max-h-[600px] object-cover" :src="imgModalUrl" />
    </div>

    <AddComment :show-modal="showModal" @closeModal="showModal=false"/>

</template>


<style scoped>

</style>
