<script setup>
import vue3StarRatings from "vue3-star-ratings";
defineProps({
    stars: Number,
});
</script>

<template>
    <vue3-star-ratings
        :model-value="stars"
        star-size="16"
        :show-control=false
        disableClick
        class="h-7"
    />
</template>

<style scoped>

</style>
