@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.ck-editor__editable_inline {
    min-height: 200px;
}

.v3sr.vue3-star-ratings__wrapper {
    width: 260px;
    margin: auto;
}
